<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootHapiFhirSimpleServerApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="spring-boot-hapi-fhir-simple-server" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="ca.hedman.springboothapifhirsimpleserver.SpringBootHapiFhirSimpleServerApplication" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>